header {
    height: 150px;
    background: #195073;
}

header h1 {
    color: #FFFF;
    text-transform: uppercase; /* todas as letras maiusculas */
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 40px;
}

header h2 {
    font-size: 18px;
    color: #FFFF;
    position: relative;
    top: 50px;
    text-transform: none
}